@use "../../styles/abstracts";

.Form {
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  background-color: rgba(var(--color-light), 1);
  min-height: 90vh;
  box-shadow: 0rem 3rem 5rem rgba(var(--color-light), 0.2);
  @include abstracts.respondMax(abstracts.$tablet-small) {
    width: 100%;
  }
  &__logo {
    background-color: rgba(var(--color-secondary), 1);
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 1rem 0rem;
  }
  &__create-account {
    padding: 1rem 2rem;
    border-bottom: var(--border-style) var(--color-grey);
    margin-bottom: 2rem;
  }
  &__form-response {
    padding: 2rem;
  }
  &__group {
    &:not(:first-child) {
      margin-top: 5rem;
    }
  }
}
