.Dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  &__window {
    margin-top: 1rem;
    background-color: rgba(var(--color-light), 1);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border-style) transparent;
    cursor: pointer;
    transition: border 200ms ease-in;
    &:focus {
      outline: none;
    }
    &--untouched {
      border: var(--border-style) rgba(var(--color-primary), 0.4);
    }
    &--focus {
      border: var(--border-style) rgba(var(--color-secondary), 1);
    }
    &--success {
      border: var(--border-style) rgba(var(--color-success), 1);
    }
    &--error {
      border: var(--border-style) rgba(var(--color-error), 1);
    }
  }

  &__icon {
    color: rgba(var(--color-secondary), 1);
  }
  &__options {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(var(--color-primary), 0.5);
    height: 25rem;
    overflow: scroll;
  }
  &__option {
    flex: 1 0 auto;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    padding: 0.8rem 1rem;
    border: none;
    color: rgba(var(--color-dark), 1);
    &:hover {
      background-color: rgba(var(--color-dark), 0.04);
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
