:root {
  //color
  --color-primary: 48, 13, 56;
  --color-secondary: 251, 169, 25;

  --color-error: 255, 0, 0;
  --color-success: 46, 204, 113;

  --color-dark: 0, 0, 0;
  --color-grey: rgba(var(--color-dark), 0.3);
  --color-light: 255, 255, 255;

  //font-family
  --ff-primary: "Open Sans", sans-serif;

  //font-size
  --fs-500: 2.4rem;
  --fs-400: 1.8rem;
  --fs-350: 1.6rem;
  --fs-300: 1.4rem;

  //font-weight
  --fw-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  //border
  --border-style: 2px solid;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
