:root {
  //color
  --color-primary: 48, 13, 56;
  --color-secondary: 251, 169, 25;
  --color-error: red;
  --color-success: 46, 204, 113;

  //font-family
  --ff-primary: "Open Sans", sans-serif;

  //font-size
  --fs-500: 2.4rem;
  --fs-400: 1.8rem;
  --fs-300: 1.2rem;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1.4rem;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
