.text-body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

.text-subject {
  font-family: var(--ff-primary);
  font-size: var(--fs-350);
  font-weight: var(--fw-medium);
}

.text-notification {
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}
