//colors
.color-error {
  color: rgba(var(--color-error), 1);
}

.color-success {
  color: rgba(var(--color-success), 1);
}

.color-primary {
  color: rgba(var(--color-primary), 1);
}

.color-secondary {
  color: rgba(var(--color-secondary), 1);
}
.color-grey {
  color: rgba(var(--color-dark), 0.5);
}

.text-align-center{
  text-align:center;
}